<div id="hero">
        <div class="hero-body">
            <h2>Unleashing Stories of Paws and Love</h2>
                <div class="button-container">
                    <a href="/create"><button class="search-btn" type="submit">Add a Post</button></a>
                </div>
        </div>
    </div>
